<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>数据挖掘——Apriori算法实现</title>
        <link rel="stylesheet" href="stylesheets/style.css"/>
    </head>
    </head>
    <body>
    {{{body}}}
    <script type="text/javascript" src="lib/jQuery/jquery.js"></script>
    <script type="text/javascript" src="lib/Underscore/underscore.js"></script>
    <script type="text/javascript" src="javascripts/Apriori.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
    </body>
</html>