<h1>数据挖掘——Apriori算法</h1>
<h2>事务列表</h2>
<table class="transcation">
    <thead>
    <tr>
        <th>TID</th>
        <th>内容</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h2>关联规则</h2>
<h3>阈值<span class="min-conf"></span>%</h3>
<table class="association">
    <thead>
    <tr>
        <th>关联规则</th>
        <th>置信度(%)</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<h2>添加事务</h2>
<ul class="add-transcation">
    <li><input type="checkbox" name="transcation" value="I1"> I1</li>
    <li><input type="checkbox" name="transcation" value="I2"> I2</li>
    <li><input type="checkbox" name="transcation" value="I3"> I3</li>
    <li><input type="checkbox" name="transcation" value="I4"> I4</li>
    <li><input type="checkbox" name="transcation" value="I5"> I5</li>
    <li><input type="checkbox" name="transcation" value="I6"> I6</li>
    <li><input type="checkbox" name="transcation" value="I7"> I7</li>
    <li><input type="checkbox" name="transcation" value="I8"> I8</li>
    <li><input type="checkbox" name="transcation" value="I9"> I9</li>
</ul>
</ul>
<input type="button" class="add-btn" value="添加">