doctype html
html
  head
    title= '数据挖掘——Apriori算法实现'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/lib/Underscore/underscore.js')
    script(type='text/javascript', src='/javascripts/Apriori.js')
    script(type='text/javascript', src='/javascripts/script.js')
